# Environment variables
.env
.env.*
!.env.example

# Dataset
data/creditcard.csv

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/



# Node dependencies
node_modules/

